<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.epam.reportportal.log4j2">
    <Appenders>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </ReportPortalLog4j2Appender>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ReportPortalAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>